
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Forgot Password | T Remedy</title>
    <!-- favicon-->
    <link rel="shortcut icon" href="img/image_leaf.png" type="image/x-icon">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/mdb.min.css">
    <link rel="stylesheet" href="./css/style.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">

</head>
<body style="background-image: url('../img/background.jpg'); background-position: center; background-size: cover; ">

<div id="dark-overlay"></div>

<div class="container my-5 py-4">
        
    <div class="row">

        <div class="col-md-3"> </div>

        <div class="col-md-6">

        <div class="card" style="z-index: 1 ; opacity: .82">

            <!--Card content-->
            <div class="card-body px-lg-5 pt-0">
        
            <!-- Form -->
            <form class="my-2" style="color: #757575;" action="" method="POST">
                <div class="my-4 py-1 text-center">
                <i class="fas fa-lock fa-4x text-center" style="color: #333;"></i>
                <h1 class="mt-3 mb-2" style="color: #333;">Forgot Password?</h1>
                <p class="text-center">You can reset your password here</p>
                </div>
                <div class="row">
                    <div class="col-4">
                        I am an 
                    </div>
                    <div class="col-8">
                        <!-- Material inline 1 -->
                        <div class="form-check form-check-inline">
                            <input type="radio" class="form-check-input" id="materialInline1" name="role" value="admin" checked>
                            <label class="form-check-label" for="materialInline1">Admin</label>
                        </div>
                        
                        <!-- Material inline 2 -->
                        <div class="form-check form-check-inline">
                            <input type="radio" class="form-check-input" id="materialInline2" name="role" value="expert">
                            <label class="form-check-label" for="materialInline2">Expert</label>
                        </div>
                    </div>
                </div>
                <!-- Material input -->
                <div class="md-form">
                    <i class="fas fa-envelope prefix"></i>
                    <input type="email" id="inputValidationEx" class="form-control validate" name="email" required>
                    <label for="inputValidationEx" data-error="Enter valid email">Type your email</label>
                </div>
        
                <!-- Sign in button -->
                <div class="text-center">
                    <button class="btn btn-outline-custom btn-rounded mt-2 waves-effect z-depth-0" type="submit">Reset Password</button>
                </div>
            </form>
            <!-- Form -->
            <div class="text-center my-3">
               <p class="text-muted">Have an Account? <a href="/" class="custom-text"> <u> Login Here </u> </a> </p>
             </div>
            </div>
        
        </div>
        <!-- Material form login -->

        <!-- Default form login -->
            </div>

        </div>
        <div class="col-md-3"> </div>

    </div>

    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="./js/jquery-3.4.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="./js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="./js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="./js/mdb.min.js"></script>
    <!-- ripple effect -->
    <script type="text/javascript" src="./js/jquery.ripples-min.js"></script>
    <!-- CUSTOM script -->
    <script src="./js/script.js"></script>

    {{#if success_msg}}
    <script>
        setTimeout(console.log(), 2000)
        toastr.success("{{success_msg}}", "Done", {
            "positionClass": "md-toast-top-right",
            "progressBar": true
        })
    </script>
    {{/if}}

    {{#if error_msg}}
    <script>
        setTimeout(console.log(), 2000)
        toastr.error("{{error_msg}}", "Error", {
            "positionClass": "md-toast-top-right",
            "progressBar": true
        })
    </script>
    {{/if}}

</body>
</html>