<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Hello Welcome to T Remedy

    <p> <a href="/admin/login">Login as Admin</a></p>
    <p> <a href="/expert/login">Login as Expert</a> </p>
</body>
</html>