<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reset Password | T Remedy</title>
    <!-- favicon-->
    <link rel="shortcut icon" href="img/image_leaf.png" type="image/x-icon">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/mdb.min.css">
    <link rel="stylesheet" href="./css/style.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="./css/regular.min.css">

</head>

<style>
    body{
        background: #f9f9f9 url('./img/wave.svg'); 
        background-position: top ; 
        background-repeat:no-repeat;
    }
    .button{
	display: block;
	width: 70%;
	height: 50px;
	border-radius: 25px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
	background-size: 200%;
	font-size: 0.9rem;
	color: #fff;
	text-transform: uppercase;
	margin: 1rem 0;
	cursor: pointer;
	transition: .5s;
}
.button:hover{
	background-position: right;
	color: #fff;
}
</style>

<body>

    <div class="container">

        <div class="row" style="height: 100vh;">

            <div class="col-md-6 d-table mx-auto my-auto">
                {{#ifCond isTokenValid true}}
                <div class="card" style="z-index: 1;">

                    <!--Card content-->
                    <div class="card-body px-lg-5 pt-0">

                        <!-- Form -->
                        <form class="my-2" style="color: #757575;" action="/passwordReset" method="POST" onsubmit="showLoader('submit','Resetting')">
                            <div class="my-4 py-1 text-center">
                                <i class="far fa-lock fa-4x text-center" style="color: #333;"></i>
                                <h1 class="mt-3 mb-2" style="color: #333;">Reset Password?</h1>
                                <p class="text-center">Please create a new password</p>
                                <span id="passMatch" class="text-success" style="display: none; font-size: 0.8em">Passwords matching</span>
                                <span id="passUnMatch" class="text-danger" style="display: none; font-size: 0.8em">Passwords Not Matching</span>
                            </div>
                            <!-- Material input -->
                            <div class="md-form">
                                <i class="fas fa-key prefix"></i>
                                <input type="password" id="password" class="form-control validate" name="password"
                                    required>
                                <label for="password">New Password</label>
                            </div>

                            <!-- Material input -->
                            <div class="md-form">
                                <i class="fas fa-key prefix"></i>
                                <input type="password" id="confirmPassword" class="form-control validate" name="confirmPassword" required>
                                <label for="confirmPassword">Confirm Password</label>
                            </div>
                            <input type="text" value="{{resetPasswordToken}}" name="token" hidden>
                            <!-- Sign in button -->
                            <div class="text-center">
                                <button id="submit" class="button btn mx-auto text-white mt-2 waves-effect z-depth-0"
                                    type="submit" disabled>Submit Now</button>
                            </div>
                        </form>
                    </div>

                </div>
                <!-- Material form login -->
                {{/ifCond}}
                
                {{#ifCond isTokenValid false}}
                    <div class="card" style="z-index: 1;">
                        <div class="card-body px-lg-5 text-center my-4">
                            <img src="/img/cancel_u1it.svg" alt="error" class="img-fluid" width="240px">
                            <h4 class="text-danger mt-4">Opps!</h4>
                            <p class="text-danger">Link is invalid or has expired</p>
                            <a href="/" class="btn btn-danger btn-sm text-white"> <i class="far fa-home mr-1"></i> Home</a>
                        </div>                    
                    </div>

                {{/ifCond}}

                {{#ifCond success true}} 
                <div class="card" style="z-index: 1;">
                    <div class="card-body px-lg-5 text-center my-4">
                        <img src="/img/confirmation_2uy0.svg" class="img-fluid" height="100px" width="240px">
                        <h4 class="text-dark mt-4">Done</h4>
                        <p class="text-muted">Your password was reset successfully</p>
                        <a href="/" class="btn custom-bg btn-sm text-white"> <i class="far fa-user mr-1"></i> Login Now</a>
                    </div>
                </div>
                
                {{/ifCond}}
                
                {{#ifCond success false}}
                <div class="card" style="z-index: 1; opacity: 0.82">
                    <div class="card-body px-lg-5 text-center my-4">
                        <img src="/img/cancel_u1it.svg" alt="error" class="img-fluid" width="240px">
                        <h4 class="text-danger mt-4">Error</h4>
                        <p class="text-danger">Some unexpected occured. <a href="/forgotPassword" class="text-danger"><u>Try Again</u></a></p>
                    </div>
                </div>
                
                {{/ifCond}}

            </div>

        </div>

    </div>

    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="./js/jquery-3.4.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="./js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="./js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="./js/mdb.min.js"></script>
    <!-- ripple effect -->
    <script type="text/javascript" src="./js/jquery.ripples-min.js"></script>
    <!-- CUSTOM script -->
    <script src="./js/script.js"></script>

    <script>
        // validating passwords
        $('#confirmPassword').on('keyup', function () {

            let pass = $('#password').val()
            let Cfrmpass = $('#confirmPassword').val()

                if(pass === Cfrmpass){
                    
                    $('#passMatch').show()
                    $('#passUnMatch').hide()
                    $('#submit').removeAttr('disabled')
                }else{

                    $('#passMatch').hide()
                    $('#passUnMatch').show()
                    $('#submit').attr('disabled', true)
                }
            

        })

    </script>

    {{#if success_msg}}
    <script>
        setTimeout(console.log(), 2000)
        toastr.success("{{success_msg}}", "Done", {
            "positionClass": "md-toast-top-right",
            "progressBar": true
        })
    </script>
    {{/if}}

    {{#if error_msg}}
    <script>
        setTimeout(console.log(), 2000)
        toastr.error("{{error_msg}}", "Error", {
            "positionClass": "md-toast-top-right",
            "progressBar": true
        })
    </script>
    {{/if}}

</body>

</html>