<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Forgot Password | T Remedy</title>

    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/mdb.min.css">
    <link rel="stylesheet" href="./css/style.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">

</head>

<body style="background-image: url('../img/background.jpg'); background-position: center; background-size: cover;">

    <div id="dark-overlay"></div>

    <div class="container my-5 py-4">

        <div class="row">

            <div class="col-md-3"> </div>

            <div class="col-md-6">
                {{#ifCond isTokenValid true}}
                <div class="card" style="z-index: 1;">

                    <!--Card content-->
                    <div class="card-body px-lg-5 pt-0">

                        <!-- Form -->
                        <form class="my-2" style="color: #757575;" action="/passwordReset" method="POST">
                            <div class="my-4 py-1 text-center">
                                <i class="fas fa-lock fa-4x text-center" style="color: #333;"></i>
                                <h1 class="mt-3 mb-2" style="color: #333;">Reset Password?</h1>
                                <p class="text-center">Please create a new password</p>
                                <span id="passMatch" class="text-success" style="display: none; font-size: 0.8em">Passwords matching</span>
                                <span id="passUnMatch" class="text-danger" style="display: none; font-size: 0.8em">Passwords Not Matching</span>
                            </div>
                            <!-- Material input -->
                            <div class="md-form">
                                <i class="fas fa-key prefix"></i>
                                <input type="password" id="password" class="form-control validate" name="password"
                                    required>
                                <label for="password">New Password</label>
                            </div>

                            <!-- Material input -->
                            <div class="md-form">
                                <i class="fas fa-key prefix"></i>
                                <input type="password" id="confirmPassword" class="form-control validate" name="confirmPassword" required>
                                <label for="confirmPassword">Confirm Password</label>
                            </div>
                            <input type="text" value="{{resetPasswordToken}}" name="token" hidden>
                            <!-- Sign in button -->
                            <div class="text-center">
                                <button id="submit" class="btn btn-outline-custom btn-rounded mt-2 waves-effect z-depth-0"
                                    type="submit" disabled= "disabled">Submit Now</button>
                            </div>
                        </form>
                    </div>

                </div>
                <!-- Material form login -->
                {{/ifCond}}
                
                {{#ifCond isTokenValid false}}
                    <div class="card" style="z-index: 1;">
                        <div class="card-body px-lg-5 text-center my-4">
                            <i class="fas fa-frown fa-3x text-danger"></i>
                            <p class="text-danger">Opps!</p>
                            <p class="text-danger">Link is invalid or has expired</p>
                        </div>                    
                    </div>

                {{/ifCond}}

                {{#ifCond success true}}
                <div class="card" style="z-index: 1;">
                    <div class="card-body px-lg-5 text-center my-4">
                        <i class="fas fa-smile fa-3x text-success"></i>
                        <p class="text-success">Done</p>
                        <p class="text-success">Your password has been reset successfully</p>
                    </div>
                </div>
                
                {{/ifCond}}
                
                {{#ifCond success false}}
                <div class="card" style="z-index: 1;">
                    <div class="card-body px-lg-5 text-center my-4">
                        <i class="fas fa-frown fa-3x text-danger"></i>
                        <p class="text-danger">Opps!</p>
                        <p class="text-danger">Some unexpected occured. Try Again</p>
                    </div>
                </div>
                
                {{/ifCond}}

            </div>

        </div>
        <div class="col-md-3"> </div>

    </div>

    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="./js/jquery-3.4.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="./js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="./js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="./js/mdb.min.js"></script>
    <!-- ripple effect -->
    <script type="text/javascript" src="./js/jquery.ripples-min.js"></script>
    <!-- CUSTOM script -->
    <script src="./js/script.js"></script>

    <script>
        // validating passwords
        $('#confirmPassword').on('keyup', function () {

            let pass = $('#password').val()
            let Cfrmpass = $('#confirmPassword').val()

                if(pass === Cfrmpass){
                    
                    $('#passMatch').show()
                    $('#passUnMatch').hide()
                    $('#submit').removeAttr('disabled')
                }else{

                    $('#passMatch').hide()
                    $('#passUnMatch').show()
                    $('#submit').attr('disabled', true)
                }
            

        })

    </script>

    {{#if success_msg}}
    <script>
        setTimeout(console.log(), 2000)
        toastr.success("{{success_msg}}", "Done", {
            "positionClass": "md-toast-top-right",
            "progressBar": true
        })
    </script>
    {{/if}}

    {{#if error_msg}}
    <script>
        setTimeout(console.log(), 2000)
        toastr.error("{{error_msg}}", "Error", {
            "positionClass": "md-toast-top-right",
            "progressBar": true
        })
    </script>
    {{/if}}

</body>

</html>