*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	overflow: hidden;
	background-color: #F9F9F9 !important;
	overscroll-behavior-y: refreshes !important;
}

.title{
	font-family: 'Poppins', sans-serif !important;
}

.wave{
	position: fixed;
	bottom: 0;
	left: 0;
	height: 100%;
	z-index: -1;
}

.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap :7rem;
    padding: 0 2rem;
}

.img{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.img img{
	width: 500px;
}

.i{
	color: #d9d9d9;
	display: flex;
	justify-content: center;
	align-items: center;
}

.i i{
	transition: .3s;
}

a{
	display: block;
	text-decoration: none;
	color: #999;
	font-size: 0.9rem;
	transition: .3s;
}

a:hover{
	color: #38d39f;
}

form{
	max-width: 370px;
}
.btn{
	display: block;
	width: 83%;
	height: 50px;
	border-radius: 25px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
	background-size: 200%;
	font-size: 1em;
	color: #fff;
	text-transform: uppercase;
	margin: 1rem 0;
	cursor: pointer;
	transition: .5s;
}
.btn:hover{
	background-position: right;
	color: #fff;
}

@media screen and (max-width: 1050px){
	.container{
		grid-gap: 5rem;
	}
}

@media screen and (max-width: 1000px){
	
	.img img{
		width: 350px;
	}
}

@media screen and (max-width: 995px){
	
	#logo{
		margin-bottom: 4em;
	}

	.title.button{
		font-size: 0.9em !important;
		padding-right: 0.7em !important;
	}
	.container{
		grid-template-columns: 1fr;
	}

	.img{
		display: none;
	}

	.wave{
		display: none;
	}

	.login-content{
		justify-content: center;
	}
}

@media screen and (max-width: 359px){
	#logo{
		margin-bottom: 4.5em;
	}	

	.title.button{
		font-size: 0.77em !important;
		padding-right: 0.7em !important;
		margin-left: 10px !important;
	}

	.title.button > i {
		margin-left: 14px !important;
	}
}

.button i{
	opacity: 0;
}

.button:hover i{
	animation: slide-in 0.5s forwards;
    -webkit-animation: slide-in 0.5s forwards;
}

@keyframes slide-in {
  0% {
	  opacity: 0;
    -webkit-transform: translateX(100%);
  }
  100% {
	  opacity: 1;
    -webkit-transform: translateX(0%);
  }
}

@-webkit-keyframes slide-in {
  0% {
	  opacity: 0;
    transform: translateX(100%);
  }
  100% {
	  opacity: 1;
    transform: translateX(0%);
  }
}