<!DOCTYPE html>
<html>

<head>
    <title>Admin Login | T Remedy</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/mdb.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="./css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <img class="wave" src="img/wave.png">
    <div class="container">
        <div class="img">
            <img src="img/bg.svg">
        </div>
        <div class="my-auto">

            {{#ifCond isSignedIn true}}
            
            <div class="card">
                <div class="card-body text-center">
                    <h3 class="text-center pt-5">You are already Signed In </h3>
                    <p class="py-4">Redirecting you to dashboard</p>
                    <div class="spinner-border text-light wow FadeIn my-3" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
            
            {{else}}

            <div>
            <h2 class="text-center title mt-4 mb-3">Admin Login</h2>
            {{#if isloggedOut}}
            <p class="text-center pt-2 text-danger">You were logged out !</p>
            {{/if}}
            <form class="text-center mt-5 mx-auto" style="color: #757575;" action="" method="POST"
                onsubmit="showLoader('submit-btn','Signing in')">
            
                <!-- Email -->
                <div class="md-form">
                    <input type="email" id="materialLoginFormEmail" class="form-control" name="email" required>
                    <label for="materialLoginFormEmail">E-mail</label>
                </div>
            
                <!-- Password -->
                <div class="md-form">
                    <input type="password" id="materialLoginFormPassword" class="form-control" name="password" required>
                    <label for="materialLoginFormPassword">Password</label>
                    <span id="passToggler" class="postfix-icon" onclick="passToggler(this.parentElement)"> <i
                            class="far fa-eye wow fadeIn" title="Visible"></i> </span>
                </div>
            
                <div class="text-right my-3">
                    <div class="">
                        <a href="/forgotPassword?role=admin">Forgot password?</a>
                    </div>
                </div>
            
                <!-- Sign in button -->
                <button id="submit-btn" class="mx-auto btn my-5 waves-effect z-depth-0" type="submit">Sign in</button>
            
            </form>
            <!-- Form -->
            <div class="text-center">
                <a href="/" class="title"> <i class="fas fa-home"></i> Home </a>
            </div>
            </div>
            {{/ifCond}}
           
        </div>
    </div>
    
    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="./js/jquery-3.4.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="./js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="./js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="./js/mdb.min.js"></script>
    <!-- CUSTOM script -->
    <script src="./js/script.js"></script>
    <script type="text/javascript" src="js/main.js"></script>


        {{#ifCond isSignedIn true}}
        <script>
            setTimeout(console.log('waiting...'), 3000)
            window.location.href = "./dashboard"
        </script>
        {{/ifCond}}
        
        {{#if error_msg}}
        <script>
            setTimeout(console.log(), 2000)
            toastr.error("{{error_msg}}", "Error", {
                "positionClass": "md-toast-top-right",
                "progressBar": true
            })
        </script>
        {{/if}}

</body>
</html>